<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ecar.eoc.mapper.eocdb.eoc.DefenceEventMapper" >
    <resultMap id="BaseResultMap"  type="com.ecar.eoc.entity.eoc.DefenceEvent">
	   <result column="ID" property="id" jdbcType="BIGINT" />
	   <result column="TERMINAL_ID" property="terminalId" jdbcType="INTEGER" />
	   <result column="IMEI" property="imei" jdbcType="VARCHAR" />
	   <result column="OPEN_ID" property="openId" jdbcType="VARCHAR" />
	   <result column="PUBLIC_ID" property="publicId" jdbcType="VARCHAR" />
	   <result column="OLD_STATUS" property="oldStatus" jdbcType="VARCHAR" />
	   <result column="NEW_STATUS" property="newStatus" jdbcType="VARCHAR" />
	   <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>
    
   <insert id="insert" parameterType="com.ecar.eoc.entity.eoc.DefenceEvent" >
		insert into EOC_DEFENCE_EVENT_RECORD
		(
			TERMINAL_ID,IMEI,OPEN_ID,PUBLIC_ID,OLD_STATUS,NEW_STATUS,CREATE_TIME
		)
		values
		(
			#{terminalId,jdbcType=INTEGER},
			#{imei,jdbcType=VARCHAR},
			#{openId,jdbcType=VARCHAR},
			#{publicId,jdbcType=VARCHAR},
			#{oldStatus,jdbcType=VARCHAR},
			#{newStatus,jdbcType=VARCHAR},
			#{createTime,jdbcType=TIMESTAMP}
		)
	</insert>
	
</mapper>