<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ecar.eoc.mapper.eocdb.eoc.TerminalMapper" >
    <resultMap id="BaseResultMap"  type="com.ecar.eoc.entity.eoc.MsgTerminal">
		<result column="TERMINAL_ID" property="terminalId" jdbcType="INTEGER" />
		<result column="CID" property="cid" jdbcType="INTEGER" />
		<result column="ASYN_TSP_ID" property="asynTspId" jdbcType="INTEGER" />
		<result column="ASYN_TSP_TYPE" property="asynTspType" jdbcType="INTEGER" />		
		<result column="ASYN_TERMINAL_ID" property="asynTerminalId" jdbcType="INTEGER" />	
		<result column="IS_SEND_SMS" property="isSendSms" jdbcType="VARCHAR" />	
		<result column="MOBILE" property="mobile" jdbcType="VARCHAR" />
		<result column="DEVICE_MOBILE" property="deviceMobile" jdbcType="VARCHAR" />
		<result column="VIN" property="vin" jdbcType="VARCHAR" />
		<result column="TOKEN" property="token" jdbcType="VARCHAR" />
		<result column="TOKEN_TYPE" property="tokenType" jdbcType="INTEGER" />
		<result column="DEVICE_ID" property="deviceId" jdbcType="VARCHAR" />
		<result column="DEVICE_ID_TYPE" property="deviceIdType" jdbcType="INTEGER" />
		<result column="TERMINAL_OS" property="terminalOS" jdbcType="INTEGER" />
		<result column="OS_VERSION" property="osVersion" jdbcType="VARCHAR" />
		<result column="IS_AUTH" property="isAuth" jdbcType="INTEGER" />
		<result column="AUTH_STATE" property="authState" jdbcType="INTEGER" />
		<result column="IMSI" property="imsi" jdbcType="VARCHAR" />
		<result column="APP_TYPE" property="appType" jdbcType="INTEGER" />
		<result column="APP_KEY" property="appKey" jdbcType="VARCHAR" />
		<result column="APP_KEY_TYPE" property="appKeyType" jdbcType="INTEGER" />
		<result column="BUSINESS_ID" property="businessId" jdbcType="INTEGER" />
		<result column="MODEL_TYPE" property="modelType" jdbcType="VARCHAR" />
		<result column="PRODUCTION_ORDER_NO" property="productionOrderNo" jdbcType="VARCHAR" />
		<result column="MODEL_SERIAL_NO" property="modelSerialNo" jdbcType="VARCHAR" />
		<result column="CAR_OWNER" property="carOwner" jdbcType="VARCHAR" />
		<result column="RECORD_PERSON" property="recordPerson" jdbcType="VARCHAR" />
		<result column="BINDING_SELLER" property="bindingSeller" jdbcType="VARCHAR" />
		<result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
		<result column="STATUS" property="status" jdbcType="INTEGER" />
		<result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" />
		<result column="WIFI_MAC" property="wifiMac" jdbcType="VARCHAR" />
		<result column="EXPIRE_DATE" property="expireDate" jdbcType="DATE" />
	</resultMap>
    
    <select id="getLastMsgTerminal" parameterType="com.ecar.eoc.entity.eoc.MsgTerminal"
		resultMap="BaseResultMap">
		select TERMINAL_ID, CID, DEVICE_ID,DEVICE_ID_TYPE, ASYN_TSP_ID, ASYN_TSP_TYPE, 
		ASYN_TERMINAL_ID, IS_SEND_SMS, MOBILE, DEVICE_MOBILE,  VIN, TOKEN, TOKEN_TYPE,
		TERMINAL_OS, OS_VERSION, IS_AUTH, AUTH_STATE,IMSI, APP_KEY,APP_TYPE,BUSINESS_ID,
		MODEL_TYPE, PRODUCTION_ORDER_NO, MODEL_SERIAL_NO, CAR_OWNER, RECORD_PERSON, BINDING_SELLER,
		APP_KEY_TYPE,CREATE_DATE,STATUS,UPDATE_DATE,WIFI_MAC,EXPIRE_DATE
		from EOC_GW_TERMINAL
		<where>
			<if test="deviceId!=null and deviceId!=''">DEVICE_ID = #{deviceId,jdbcType=VARCHAR} </if>
			<if test="imsi!=null and imsi!=''">and IMSI = #{imsi,jdbcType=VARCHAR} </if>
			<if test="mobile!=null and mobile!=''"> and MOBILE=#{mobile,jdbcType=VARCHAR}</if>
			<if test="status!=null"> and STATUS=#{status,jdbcType=INTEGER}</if>
			<if test="terminalId!=null"> and TERMINAL_ID=#{terminalId,jdbcType=INTEGER}</if>
		</where>
		ORDER BY UPDATE_DATE DESC limit 1
	</select>
</mapper>