<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ecar.eoc.mapper.eocdb.eoc.TripMapper" >
    <resultMap id="BaseResultMap" type="com.ecar.eoc.entity.eoc.EocTripSpy" >
  	<id column="TRIP_ID" property="tripId" jdbcType="BIGINT" />
  	<result column="TERMINAL_ID" property="terminalId" jdbcType="INTEGER"/>
  	<result column="START_TIME" property="startTime" jdbcType="TIMESTAMP"/>
  	<result column="END_TIME" property="endTime" jdbcType="TIMESTAMP"/>
  	<result column="TOTAL_MILEAGE" property="totalMileage" jdbcType="DOUBLE"/>
  </resultMap>
  
  <sql id="Base_Column_List">
 	 TRIP_ID,TERMINAL_ID,START_TIME,END_TIME,TOTAL_MILEAGE
  </sql>
    
  <select id="getMaxMileageTrip" parameterType="java.util.HashMap" resultMap="BaseResultMap">
	  SELECT 
	  	<include refid="Base_Column_List"/>
	  	FROM ${tableName}
	  	WHERE 
	  	<![CDATA[
	  	TERMINAL_ID = #{terminalId,jdbcType = INTEGER} 
	  	and START_TIME >= #{startTime,jdbcType=TIMESTAMP} and START_TIME < #{endTime,jdbcType=TIMESTAMP}
	  	]]>
	  	order by TOTAL_MILEAGE DESC LIMIT 1
  </select>

	<select id="getNewestTrip" parameterType="java.util.HashMap" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List"/>
		FROM ${tableName}
		WHERE
		<![CDATA[
	  	TERMINAL_ID = #{terminalId,jdbcType = INTEGER}
	  	]]>
		order by END_TIME DESC LIMIT 1
	</select>

    <select id="getTotalMileage" parameterType="java.util.HashMap" resultType="DOUBLE">
        SELECT SUM(TOTAL_MILEAGE)
        FROM ${tableName}
        <where>
            TERMINAL_ID = #{terminalId}
            <if test="null != startTime">AND START_TIME &gt;= #{startTime}</if>
            <if test="null != endTime">AND END_TIME &lt;= #{endTime}</if>
        </where>
    </select>
</mapper>