<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ecar.eoc.mapper.iotdb.OffLineGpsMapper" >
    <resultMap id="BaseResultMap" type="com.ecar.eoc.entity.iot.OffLineGpsRecord" >
        <id column="ID" property="id" jdbcType="BIGINT" />
        <result column="TERMINAL_ID" property="terminalId" jdbcType="INTEGER" />
        <result column="ICCID" property="iccid" jdbcType="VARCHAR" />
        <result column="IMEI" property="imei" jdbcType="VARCHAR" />
        <result column="URL" property="url" jdbcType="VARCHAR" />
        <result column="BUCK_NAME" property="bkName" jdbcType="VARCHAR" />
        <result column="REGION" property="region" jdbcType="VARCHAR" />
        <result column="STATUS" property="status" jdbcType="INTEGER" />
        <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>
    
    <resultMap id="failResultMap" type="com.ecar.eoc.entity.iot.OffLineGpsFailRecord" >
        <id column="ID" property="id" jdbcType="BIGINT" />
        <result column="TERMINAL_ID" property="terminalId" jdbcType="INTEGER" />
        <result column="ICCID" property="iccid" jdbcType="VARCHAR" />
        <result column="IMEI" property="imei" jdbcType="VARCHAR" />
        <result column="ERRORCODE" property="errorCode" jdbcType="VARCHAR" />
        <result column="ERRORMSG" property="errorMsg" jdbcType="VARCHAR" />
        <result column="BUCK_NAME" property="bkName" jdbcType="VARCHAR" />
        <result column="REGION" property="region" jdbcType="VARCHAR" />
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>
    
    <sql id="Base_Column_List" >
        ID,TERMINAL_ID,ICCID,IMEI,URL,BUCK_NAME,REGION,STATUS,UPDATE_TIME,CREATE_TIME
    </sql>

    <insert id="insertRecord" parameterType="com.ecar.eoc.entity.iot.OffLineGpsRecord">
    	insert into EOC_OFFLINE_GPS_RECORD
    	(
    		TERMINAL_ID,ICCID,IMEI,URL,BUCK_NAME,REGION,STATUS,UPDATE_TIME,CREATE_TIME
    	)
    	values
    	(
    		#{terminalId,jdbcType=INTEGER},
    		#{iccid,jdbcType=VARCHAR},
    		#{imei,jdbcType=VARCHAR},
    		#{url,jdbcType=VARCHAR},
    		#{bkName,jdbcType=VARCHAR},
    		#{region,jdbcType=VARCHAR},
    		#{status,jdbcType=INTEGER},
    		#{updateTime,jdbcType=TIMESTAMP},
    		#{createTime,jdbcType=TIMESTAMP}
    	)
    </insert>
    
    <insert id="insertFailRecord" parameterType="com.ecar.eoc.entity.iot.OffLineGpsFailRecord">
    	insert into EOC_OFFLINE_GPS_FAIL_RECORD
    	(
    		TERMINAL_ID,ICCID,IMEI,ERRORCODE,ERRORMSG,BUCK_NAME,REGION,CREATE_TIME
    	)
    	values
    	(
    		#{terminalId,jdbcType=INTEGER},
    		#{iccid,jdbcType=VARCHAR},
    		#{imei,jdbcType=VARCHAR},
    		#{errorCode,jdbcType=VARCHAR},
    		#{errorMsg,jdbcType=VARCHAR},
    		#{bkName,jdbcType=VARCHAR},
    		#{region,jdbcType=VARCHAR},
    		#{createTime,jdbcType=TIMESTAMP}
    	)
    </insert>
    
</mapper>