.fa-dashboard:before,.fa-1:before {
    content: "\f09d"
}
.fa-2:before {
    content: "\f108"
}
.fa-3:before {
    content: "\f003"
}
.fa-edit:before,.fa-4:before {
    content: "\f1b9"
}
.fa-5:before {
    content: "\f022"
}
.fa-6:before {
    content: "\f200"
}

.fa-7:before {
    content: "\f1ea"
}
.fa-12:before {
    content: "\f018"
}

.fa-11:before {
    content: "\f0c0"
}
.fa-8:before {
    content: "\f157"
}
.fa-9:before {
    content: "\f080"
}
.fa-10:before {
    content: "\f013"
}

.fa-13:before {
    content: "\f083"
}
.fa-14:before {
    content: "\f076"
}
